<% extend("../layout/mainlayout.ejs") %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <p1 id="vbcpdtitile" class="mt-5">PHƯƠNG PHÁP TOP-SIS</p1>
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>TÊN CÔNG TY</th>
                    <th>ĐPH MỨC LƯƠNG</th>
                    <th>ĐỊA ĐIỂM</th>
                    <th>RANK CÔNG TY</th>
                    <th>ĐPH KINH NGHIỆM</th>
                    <th>ĐPH BẰNG CẤP</th>
                  </tr>
                </thead>
                <tbody>

                  <% if(getAllWorkOfUser.length!=0){ var i=1; getAllWorkOfUser.forEach(function(data){ %>
                    <tr>
                      <td>
                        <%=i%>
                      </td>
                      <td>
                        <%=data.name_company %>
                      </td>
                      <td>
                        <%=data.salary_fit%>
                      </td>
                  
                      <td>
                        <%=data.address_fit%>
                      </td>
                      <td>
                        <%=data.rank_company%>
                      </td>
                      <td>
                        <%=data.num_of_years_of_xp_fit%>
                      </td>
                      <td>
                        <%=data.degree_fit%>
                      </td>
                    </tr>
                    <% i++; }) %>
                      <% } else{ %>
                        <tr>
                          
                        </tr>
                        <% } %> 

                </tbody>
                </tbody>

              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </section>